<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<h1>ajax跨域之cors</h1>

<input type="button" id="c1" value="点击取值">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
    
    $("#c1").click(function () {
        $.ajax({
            url:'http://127.0.0.1:8033/cors/',
            type:'PUT',
            data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success:function (arg) {
                alert(arg);
            }
        })
    })
    
</script>
<script>


</script>
</body>
</html>